[submodule "machine-learning-analysis-of-hyperspectral-data"]
	path = machine-learning-analysis-of-hyperspectral-data
	url = https://github.com/jonperk318/machine-learning-analysis-of-hyperspectral-data
